.hero{
    max-width: 100%;
    padding: 5.6vw;
    background-image: linear-gradient(90deg, (#181818), rgba(255, 255, 255, 0)),url(../../img/HeroFlash.jpg);
    text-align: center;
    background-size: cover;

    
}


